$defaultFont: 'Spline Sans', sans-serif;
$lightWeight: 300;
$regularWeight: 500;

$primaryColor: #7B1E1E; // Deep Redwood color
$secondaryColor: #B33A3A; // Slightly lighter red for highlights
$greyColor: #555;
$blue: #003366; // Muted academic navy blue
$gutter: 16px;
$leading: 1.4;